# Created by .ignore support plugin (hsz.mobi)
/ht.access
/.htaccess
/index.php
/index-ajax.php
/robots.txt
/README.md
/manager/
/assets/flash/
/assets/js/
/assets/files/
/assets/docs/
/assets/media/
/assets/modules/
/assets/site/
/assets/cache/
/assets/tvs/
/assets/backup/
/assets/import/
/assets/templates/
/assets/.thumbs/
/assets/index.html
/assets/export/
/assets/lib/
/assets/plugins/
/assets/images/
.htaccess
.idea/
README.md
assets/
ht.access
index-ajax.php
index.php
install/
manager/
robots.txt
/assets/snippets/
!/assets/plugins/
/assets/plugins/qm/
/assets/plugins/managermanager/
/assets/plugins/tinymce4/
/assets/plugins/transalias/
/assets/plugins/forgotmanagerlogin/
/assets/plugins/codemirror/
/assets/plugins/filesource/
/assets/plugins/index.html
/assets/plugins/elementsintree/
!/install/
